/* Variabel untuk kustomisasi warna dan font */
:root {
    --primary-color: #007BFF;
    --hover-color: #0056b3;
    --background-color: #f4f4f4;
    --form-background-color: white;
    --text-color: #333;
    --secondary-text-color: #666;
    --border-color: #ccc;
    --button-text-color: white;
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;  /* Batasi lebar maksimum */
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-bottom: 50px;
}

label {
    font-size: 16px;
    color: #333;
}

input, select, textarea {
    width: 100%;  /* Full width */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}


button:hover {
    background-color: #0056b3;
}


button:hover {
    background-color: var(--hover-color);
}
